@tailwind base;
@tailwind components;
@tailwind utilities;

/* FORM */
/* Arrière-plan Form */
.form-container {
  @apply p-8 rounded-2xl w-full max-w-[500px] bg-gradient-to-b from-white to-[#ede7dd] shadow-2xl text-center border;
}
.form-label {
  @apply block text-sm font-medium;
}
.form-input {
  @apply mt-1 p-2 w-full border rounded-md focus:ring-[#7EAF50] focus:border-[#7EAF50];
}

/* Titres */
.title {
  @apply text-3xl font-bold text-[#ab833d] mb-6;
}

.close-button {
  @apply border border-black text-black px-4 py-2 rounded-md bg-transparent hover:bg-gray-100;
}

.auth-method {
  @apply p-6 rounded-2xl cursor-pointer transition duration-300 hover:scale-105;
}

.auth-method-green {
  @apply border border-[#7EAF50] text-[#7EAF50] hover:bg-gray-200;
}

.auth-method-brown {
  @apply border border-[#ab833d] text-[#ab833d] hover:bg-gray-200;
}

.add-button {
  @apply border border-[#7EAF50] px-4 py-2 shadow-lg rounded-lg text-[#7EAF50] inline-block hover:bg-gray-200 transition-transform hover:scale-105;
}

.return-button {
  @apply flex items-center gap-2 border border-[#902124] px-4 py-2 shadow-lg rounded-md text-[#902124] hover:bg-gray-200 transition-transform hover:scale-105;
}

/* ---------- */

.guest-description {
  @apply text-sm sm:text-base text-[#ab833d] mb-6;
}

.guest-button {
  @apply bg-[#7EAF50] text-white px-4 py-2 rounded-md shadow-lg inline-block hover:bg-[#89AF66] transition-transform hover:scale-105;
}

.recipe-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

/* Mode Sombre */
body {
  @apply bg-white text-black;
}

.dark body {
  @apply bg-gray-800 text-black;
}

.dark button {
  @apply bg-gray-700 text-white  hover:bg-gray-400 transition-transform hover:scale-105;
}

.dark button.delete-button {
  @apply border-red-500 bg-gray-700 text-white hover:border-red-400 hover:bg-gray-500;
}

.dark .profile-container {
  @apply bg-gray-800 text-white;
}

.dark .profile-card {
  @apply bg-gray-200 border-gray-600;
}
